<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cartzy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="static/images/logo.png">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>
<body>

  <header>
    <div class="logo">🛒 Cartzy</div>
    <nav>
      <a href="/">Home</a>
      <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB">Products</a>
      <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB">Contact</a>
    </nav>
    <div class="icons">
      <img src="static/images/profile.png" alt="Profile">
      <img src="static/images/cart.jpg" alt="Cart">
    </div>
  </header>

  <section class="hero">
    <h1>Premium Shopping Experience</h1>
    <p>Explore premium tech deals only at Cartzy!</p>
    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB" class="btn">Start Shopping</a>
  </section>

  <section class="products">
    <h2>🔥 Premium Products</h2>
    <div class="product-grid">

      <div class="product-card">
        <img src="static/images/mac.jpg" alt="MacBook">
        <h3>MacBook Pro M2</h3>
        <p class="price">₹1,59,900 <span>₹1,79,990</span></p>
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB" target="_blank">
          <button>Add to cart</button>
        </a>

      </div>

      <div class="product-card">
        <img src="static/images/iphone.jpg" alt="iPhone 15">
        <h3>iPhone 15 Pro Max</h3>
        <p class="price">₹1,29,999 <span>₹1,49,999</span></p>
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB" target="_blank">
          <button>Add to cart</button>
        </a>
      </div>

      <div class="product-card">
        <img src="static/images/ps5.jpg" alt="PS5">
        <h3>PlayStation 5</h3>
        <p class="price">₹48,990 <span>₹54,999</span></p>
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB" target="_blank">
          <button>Add to cart</button>
        </a>
      </div>

      <div class="product-card">
        <img src="static/images/airpod.jpg" alt="AirPods Max">
        <h3>AirPods Max</h3>
        <p class="price">₹59,900 <span>₹66,900</span></p>
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1&pp=ygUJcmljayByb2xsoAcB" target="_blank">
          <button>Add to cart</button>
        </a>
      </div>

    </div>
  </section>

  <footer>
    <p>&copy; 2025 Cartzy. All rights reserved.</p>
  </footer>

</body>
</html>
